.owl-item > div {
  
  margin: 8% 10%;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
}
.owl-item:not(.center) > div:hover {
  opacity: .75;
}

.color-fondo{
    background-color: red;
}